# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Кэш virtualenv
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ============================
# Проект
# ============================

# База данных (обязательно!)
database.db
*.sqlite3

# Логи
*.log

# Файлы среды
.env
.env.*

# Компиляция/кэш
*.egg-info/
*.egg
dist/
build/

# ============================
# IDE
# ============================

# PyCharm
.idea/

# VSCode
.vscode/

# ============================
# Docker
# ============================
# Исключаем билд-кэш
docker-compose.override.yml
*.pid

# ============================
# Системные файлы
# ============================

# macOS
.DS_Store

# Windows
Thumbs.db

# ============================
# Backup/Temp
# ============================
*.bak
*.tmp
*.swp
*.orig
